body {
	background-color: #428ff4;
}

.logo {
	height: 35px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 35px;
}

.sign-up-header {
	text-align: center;
	font-size: 30px;
}

body label, body button {
	display: block;
}

fieldset {
	margin-top: 35px;
	background-color: white;
	height: 420px;
	width: 320px;
	padding-left: 40px;
	padding-right: 40px;
	margin-left: auto;
	margin-right: auto;
}

button {
	border-radius: 3px;
	border: 2px;
	font-size: 22px;
	width: 320px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 15px;
	color: white;
	background-color: #34c132;
}

button:hover {
	background-color: green;
}

#email, #password {
	border: 2px lightgray solid;
	padding-left: 15px;
	padding-right: 15px;
	width: 286px;
	height: 21px;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.forgot-pw a:link, .forgot-pw a:visited {
	color: gray;
}

.forgot-pw {
	text-align: center;
}

.footer {
	text-align: center;
	color: white;
	font-weight: bold;
}

.footer a:link, .footer a:visited {
	color: white;
}